
@{
    ViewBag.Title = "WebDevelopers";
}

<h2>Web Developers</h2>

<table id="web-developers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact Phone</th>
            <th>Day of Birth</th>
            <th>Years of Experience</th>
            <th>Web Technologies</th>
            <th>Stacks</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<a href="/webdevelopers/create" class="btn btn-primary">New</a>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#web-developers").DataTable({
                ajax: {
                    url: "/api/webdevelopers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "lastName"
                    },
                    {
                        data: "address"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "contactPhone"
                    },
                    {
                        data: "dayOfBirth",
                        render: function (data) {
                            var javascriptDate = new Date(data);
                            javascriptDate = javascriptDate.getDate()+"/"+(javascriptDate.getMonth()+1)+"/"+javascriptDate.getFullYear();
                            return javascriptDate;
                        }
                    },
                    {
                        data: "yearsOfExperience"
                    },
                    {
                        data: "webTechnologies",
                        render: function (data) {
                            return $.map(data, function (d, i) {
                                return d.name;
                            }).join(', ');
                        }
                    },
                    {
                        data: "stacks",
                        render: function (data) {
                            return $.map(data, function (d, i) {
                                return d.name;
                            }).join(', ');
                        }
                    },
                    {
                        data: "comments"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a style='display: block;' href='/webdevelopers/edit/" + data + "'>Edit</a><a style='display: block;' href='javasript:void()' class='btn-link js-delete' data-wd-id='" + data + "'>Delete</a><a style='display: block;' href='/webdevelopers/details/" + data + "' class='btn-link' data-wd-id='" + data + "'>Details</a>";
                        }
                    }
                ]
            });

            $("#web-developers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Do you confirm to delete this web developer?", function (result) {
                    if (result) {
                        var id = button.attr("data-wd-id");
                        $.ajax({
                            url: "/api/webdevelopers/" + id,
                            method: "delete"
                        })
                        .done(function () {
                            table.row(button.parents("tr")).remove().draw();
                        })
                        .fail(function (er) {
                            alert(er.statusText + "Insert correct paraemters");
                        });
                    }
                });
                
            });
        });
    </script>
}
